# Зависимости
node_modules

# Сборка
dist

# Разработка
.vite
.tanstack

# IDE
.vscode
.cursor
.idea

# Git
.git
.gitignore
.gitattributes

# Документация
*.md

# Docker
Dockerfile
.dockerignore

# OpenAPI
deps